@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700&subset=cyrillic,cyrillic-ext');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cleara:after {
  content: "";
  display: table;
  clear: both;
}
*:focus {
  outline: none;
}
/* general style*/
html {
  height: 100%;
}
body {
  font: 300 18px/1.64 'Open Sans', sans-serif;
  width: 100%;
  background: #ffffff;
  color: #000000;
  height: 100%;
  position: relative;
}
.wrap {
  width: 1020px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}
a {
  outline: none;
  text-decoration: none;
  color: #000000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: none;
  color: #333333;
}
p {
  margin: 0 0 10px;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
  outline: none;
}
.center {
  text-align: center;
}
.trn {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section {
  margin: 85px 0;
}
.header {
  position: relative;
  padding-top: 68px;
}
.header__topline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid #9a3885;
  background-color: #e1dee8;
  z-index: 10;
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
}
.header__main > div:last-child {
  text-align: right;
}
.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 90px;
}
.header__contacts {
  font: 400 17px/1.12 'PT Sans', sans-serif;
}
.header__contacts-title {
  font-weight: 700;
  margin: 0 0 7px;
}
.header__contacts-text {
  margin: 0 0 3px;
}
.logo {
  display: block;
}
.logo img {
  display: block;
}
.pink-link {
  color: #9a3885 !important;
}
.pink-link span {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pink-link:hover span {
  text-decoration: none;
}
.point-link {
  background: url('../img/icons/map-point.png') no-repeat left center;
  padding-left: 27px;
  line-height: 30px;
  min-height: 30px;
}
.phone-link {
  background: url('../img/icons/phone-ico.png') no-repeat left center;
  padding-left: 35px;
  line-height: 30px;
  min-height: 30px;
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 63px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-nav__item {
  display: block;
  text-align: center;
  position: relative;
}
.main-nav__item a {
  color: #000000;
  font: 400 16px/1.125 'PT Sans', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-nav__item a:hover {
  opacity: .8;
}
.main-nav__item:after {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  background: url('../img/icons/grey-deliver.png') no-repeat left top;
  position: absolute;
  right: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main-nav__item:last-child:after {
  display: none;
}
.slider {
  height: 443px;
  background: url('../img/main-slide.jpg') no-repeat right center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.slider-wr {
  background-color: #f6f4f7;
}
.slider__content {
  width: 380px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.h1 {
  font: 300 24px/1.3 'Open Sans', sans-serif;
  color: #515151;
  margin: 0 0 45px;
}
.h1 span {
  font-size: 20px;
}
.h1 strong {
  font-size: 20px;
  font-weight: 700;
}
.pink-btn {
  background-color: #9a3885 !important;
  border-radius: 10px;
  display: inline-block;
  color: #ffffff !important;
  font: 700 16px/1.12 'Open Sans', sans-serif;
  padding: 25px 25px 23px;
  text-transform: uppercase;
}
.pink-btn:hover {
  background-color: #b4429c !important;
}
.pink-btn--sm {
  font-size: 14px;
  padding: 14px 35px 15px;
}
.pink-btn--phone {
  background-image: url('../img/icons/phone-white-ico.png');
  background-position: 25px center;
  background-repeat: no-repeat;
  padding-left: 65px;
}
.pink-btn--send {
  background-image: url('../img/icons/send-ico.png');
  background-position: 30px center;
  background-repeat: no-repeat;
  padding-left: 65px;
}
.client-btn {
  padding: 27px 55px 23px 95px;
  background: url('../img/icons/client-ico.png') no-repeat 15px bottom;
}
.spectrum {
  background: url('../img/spectrum-bg.png') no-repeat center bottom #60527e;
  padding: 70px 0 325px;
  text-align: center;
  color: #ffffff;
}
.spectrum-text {
  line-height: 1.64;
  margin: 0 0 30px;
}
.h2 {
  font: 700 30px/1.2 'Open Sans', sans-serif;
  margin: 0 0 40px;
  text-transform: uppercase;
  text-align: center;
}
.h2--light {
  font-weight: 300;
  text-transform: none;
}
.services {
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services-wr {
  background-color: #f0f0f0;
}
.services__item {
  font: 400 22px/1.12 'PT Sans', sans-serif;
  padding-top: 65px;
  background-repeat: no-repeat;
  background-position: center top;
}
.services__item--service1 {
  background-image: url('../img/icons/serviсe1-ico.png');
}
.services__item--service2 {
  background-image: url('../img/icons/serviсe2-ico.png');
}
.services__item--service3 {
  background-image: url('../img/icons/serviсe3-ico.png');
}
.services__item--service4 {
  background-image: url('../img/icons/serviсe4-ico.png');
}
.accompaniment {
  background: rgba(255, 255, 255, 0.95);
  padding: 50px 10px 45px;
}
.accompaniment-wr {
  background: url('../img/services-bg.jpg') no-repeat center top;
  background-size: cover;
  padding: 90px 0 145px;
  position: relative;
}
.accompaniment-list {
  width: 70%;
  margin: 0 auto;
}
.accompaniment-list__item {
  position: relative;
  line-height: 1.3;
}
.accompaniment-list__item span {
  position: relative;
  padding-left: 65px;
  display: block;
  margin-bottom: 30px;
}
.accompaniment-list__item span:before {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  border: 3px solid #493b67;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 0;
}
.accompaniment-list__item:after {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 24px;
  left: 13px;
  background: url('../img/dash-bg2.png') repeat-y left top;
}
.accompaniment-list__item:last-child:after {
  display: none;
}
.why {
  padding: 95px 0 220px;
}
.why-title {
  font: 300 24px/1.2 'Open Sans', sans-serif;
  margin: 0 0 45px;
  text-transform: uppercase;
  text-align: center;
}
.why-title span {
  font-weight: 600;
  color: #493b67;
}
.why-quote {
  position: relative;
  text-align: center;
  width: 650px;
  margin: 0 auto 45px;
  line-height: 1.64;
  padding: 0 30px;
}
.why-quote:before {
  content: '';
  display: block;
  background: url('../img/icons/quote-ico.png') no-repeat left top;
  width: 18px;
  height: 16px;
  position: absolute;
  top: -12px;
  left: 0;
}
.why-quote:after {
  content: '';
  display: block;
  background: url('../img/icons/quote-ico.png') no-repeat left top;
  width: 18px;
  height: 16px;
  position: absolute;
  bottom: -12px;
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.why-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.why-box__item {
  width: 308px;
  height: 308px;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  padding: 145px 10px 10px;
  font: 300 20px/1.3 'Open Sans', sans-serif;
}
.why-box__item span {
  color: #493b67;
  font-weight: 700;
}
.why-box__item .font30 {
  font-size: 30px;
}
.why-box__item .font25 {
  font-size: 25px;
  line-height: 1;
}
.why-box__item--why1 {
  background: url('../img/icons/why1-ico.png') no-repeat center 35px;
}
.why-box__item--why2 {
  background: url('../img/icons/why2-ico.png') no-repeat center 47px;
}
.why-box__item--why3 {
  background: url('../img/icons/why3-ico.png') no-repeat center 43px;
}
.prices {
  position: relative;
  padding: 50px 65px 70px;
  background: #fff;
}
.prices-wr {
  background: #e1dee8;
  padding: 235px 0 95px;
}
.prices-img {
  display: block;
  width: 389px;
  height: 420px;
  position: absolute;
  top: -420px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.prices-title {
  font: 300 30px/1.3 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 0 22px;
}
.prices-title span {
  font-weight: 600;
}
.prices-subtitle {
  text-align: center;
  margin: 0 0 45px;
}
.prices-list__item:last-child .prices-list__text {
  padding-bottom: 0;
}
.prices-list__item:last-child .prices-list__text:before {
  display: none;
}
.prices-list__title {
  color: #493b67;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  padding-left: 50px;
  margin: 3px 0;
  text-transform: uppercase;
}
.prices-list__title:before {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  border: 3px solid #493b67;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.prices-list__text {
  padding: 20px 0 35px 50px;
  position: relative;
  font-size: 16px;
  line-height: 1.72;
}
.prices-list__text p {
  margin: 0 0 20px;
}
.prices-list__text b {
  font-weight: 700;
}
.prices-list__text:before {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 14px;
  background: url('../img/dash-bg.jpg') repeat-y 0 0;
}
.prices-list__btn {
  background: url('../img/icons/pdf-ico.png') no-repeat 20px center;
  padding-left: 65px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  padding-right: 20px;
}
.ul {
  padding: 0;
  margin: 0 0 20px;
}
.ul li {
  position: relative;
  padding-left: 26px;
}
.ul li:before {
  content: '';
  display: block;
  height: 1px;
  width: 14px;
  background-color: #d6d6d6;
  position: absolute;
  left: 0;
  top: 50%;
}
.map {
  display: block;
  height: 815px;
  position: relative;
}
.map-info {
  position: absolute;
  top: 120px;
  left: 10px;
  width: 425px;
  background: #ffffff;
  padding: 40px 50px;
  -webkit-box-shadow: 0 0 38px rgba(64, 64, 64, 0.47);
          box-shadow: 0 0 38px rgba(64, 64, 64, 0.47);
}
.map-info__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 45px;
}
.map-info__content {
  margin: 0 0 25px;
  font-family: 'PT Sans', sans-serif;
}
.map-info__content .content-title {
  color: #7c7c7c;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.12;
}
.map-info__content p {
  margin: 0 0 2px;
}
.map-info__btn {
  margin: 5px 0 0;
  background-repeat: no-repeat;
  padding-left: 65px;
}
.map-info__btn--phone {
  background-image: url('../img/icons/phone-white-ico.png');
  background-position: 25px center;
}
.map-info__btn--send {
  background-image: url('../img/icons/send-ico.png');
  background-position: 30px center;
}
.map-wr {
  position: relative;
}
.map-wr .wrap {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer {
  height: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-wr {
  border-bottom: 8px solid #9a3885;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer__item:first-child {
  padding-right: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer__item:last-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-logo {
  display: block;
  width: 69px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 40px;
}
.footer .copyright {
  font-weight: 300;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 3px;
}
.footer .company {
  font-weight: 600;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.footer p {
  margin: 0;
}
.footer-nav {
  display: block;
  padding: 0;
  margin: 0;
}
.footer-nav li {
  margin: 0;
  display: block;
}
.footer-nav li a {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-nav li a:hover {
  opacity: .8;
}
.botbtn {
  height: 71px;
  width: 72px;
  overflow: hidden;
  position: absolute;
  top: -33px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  background: url(../img/botbtn.png) no-repeat center center;
  z-index: 8;
}
.call-form__block {
  padding: 0 20px;
  margin: 0 0 20px;
}
.call-form__row {
  margin: 0 -20px 10px;
}
.call-form__row:last-child {
  text-align: center;
  margin-bottom: 0;
}
.call-form-field {
  font: 300 18px/20px 'PT Sans', sans-serif;
  border: 2px solid #e6e6e6;
  padding: 15px;
  background: #fff;
  color: #201600;
  display: block;
  width: 100%;
}
.call-form-label {
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.12;
  display: block;
  margin-bottom: 10px;
}
.popup-block {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 520px;
  margin: 20px auto;
  -webkit-box-shadow: 0 0 38px rgba(64, 64, 64, 0.47);
          box-shadow: 0 0 38px rgba(64, 64, 64, 0.47);
}
.popup-block__body {
  position: relative;
  padding: 35px 45px;
}
.popup-block .dark-btn {
  margin: 10px 0 0;
  line-height: 40px;
}
.popup-block .pink-btn {
  cursor: pointer;
  border: 0;
}
.popup-text {
  font: 18px/1.64 'Open Sans', sans-serif;
  margin: 0 0 35px;
}
.h2-popup-title {
  font: 700 28px/1.12 'Open Sans', sans-serif;
  margin: 0 0 35px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}
.popup-modal-dismiss.icon-cross {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  background: url('../img/icons/popup-modal-dismiss.png') no-repeat left top;
  background-size: contain;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popup-modal-dismiss.icon-cross:hover {
  opacity: .8;
}
.mfp-bg {
  background: rgba(0, 0, 0, 0.47);
  opacity: 1;
}
.error {
  border-color: #EF5E5E!important;
}
.error:focus {
  border-color: transparent!important;
}